body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #000000;
}
/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.promotions {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.3em 1em;
}
.prom-block {
  flex: 1; /* Занимает доступное пространство */
  text-align: center;
  font-size: small;
}

.header-panel {
  position: fixed;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  transition: background-color 0.5s ease;
}
.header-panel.scrolled {
  background-color: rgba(255, 255, 255, 1); /* Полностью непрозрачный фон */
}
.logo {
  width: 4em;
  margin-top: 0.3em;
  margin-left: 1em;
}

.menu_list {
  display: flex;
  align-items: center;
  padding-right: 10em;
}
.menu-text {
  padding: 1.2em 1em 2.7em;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}
.menu-text:hover {
  cursor: pointer;
  color: #e1ce8c; /* Цвет текста при наведении */
  transform: scale(1.05); /* Увеличение текста при наведении */
}
.svg-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em;
}
.svg-icon {
  margin: 0.5em;
  cursor: pointer;
  transition: stroke 0.3s ease, transform 0.3s ease;
}
.svg-list :hover path {
  stroke-width: 5;
  stroke: #e1ce8c;
  transform: scale(1.1);
}
.search-container {
  display: none;
  position: absolute;
  right: 13em;
  top: 0.8em;
  background: transparent;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 4px;
}
.search-input {
  border: none;
  outline: none;
  padding: 0.5em;
  width: 200px;
  box-sizing: border-box;
}
.search-input::placeholder {
  color: black;
}
/* PREVIEW-BLOCK */
.item-preview-menu {
  width: 100%;
  background-color: white;
  padding-top: 5.5em;
  justify-content: space-evenly;
  display: none;
}
.preview-list {
  padding-bottom: 2em;
}
.preview-list div {
  padding: 0.2em;
}

/* REGISTRATION-LOGIN */

.login-container {
  display: none; /* Скрываем окно по умолчанию */
  position: fixed;
  height: 620px;
  width: 855px;
  background-color: #ffffff;
  border: solid rgb(180, 180, 180);

  /* Центрирование */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container.visible {
  display: flex; /* Показать окно с flex-раскладкой, когда класс "visible" добавлен */
}

.image-section {
  flex: 1;
  position: relative;
  height: 100%;
}

.image-section img {
  width: 100%;
  height: 100%; /* Заставляем изображение занимать всю высоту контейнера */
  object-fit: cover; /* Обеспечиваем правильное масштабирование изображения без искажений */
}

.text-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.text-front h1 {
  font-size: 2em;
  margin: 0;
}

.text-front p {
  font-size: 1.2em;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 0.5em;
}

.login-form input {
  margin-bottom: 1em;
  padding: 0.5em;
  border: solid rgb(188, 188, 188);
}

.login-form button {
  padding: 0.4em;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border: solid;
  width: 10em;
  margin: auto;
}
/* HERO */

.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.hero img {
  width: 100%; /* Изображение занимает 100% ширины родителя */
  height: auto; /* Высота зависит от пропорций */
  object-fit: cover; /* Обрезает изображение для заполнения контейнера */
  display: block; /* Убирает отступы вокруг изображения */
}
/* CARDS MID */

.select {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
  font-weight: 600;
}
.cards-block {
  margin-top: 2em;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 6em; /* Отступы между строками */
  grid-column-gap: 0.2em; /* Отступы между колонками */
  margin: 5em;
  justify-items: center;
  align-items: center;
}

.card {
  width: 14em;

  text-align: center;
  border-radius: 8px;
  background-color: #fff; /* Добавить фоновый цвет */
  transition: filter 0.3s ease; /* Плавный переход */
}
.picture {
  cursor: pointer;
}
.card:hover {
  filter: brightness(1.1);
}
.text-card {
  font-weight: 670;
  font-size: small;
  text-align: left;
  padding: 1em 1em 1em;
}
.prise {
  color: #757575;
}
.buy-button {
  background-color: #ffffff;
  color: black;
  font-size: 12px;
  border: 1px solid #000000;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 0.5em;
}
.buy-button:hover {
  background-color: #000000;
  color: #ffffff;
}
.arrow {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 160%;
  transform: translateY(-50%);
  width: 1.5em;
  height: 1.5em;
}
.left-arrow {
  left: 3em;
}
.right-arrow {
  right: 3.5em;
}
.select-zone {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  position: relative; /* Для позиционирования псевдоэлемента */
  overflow: hidden;
}
.select-zone::after {
  content: "";
  position: absolute; /* Абсолютное позиционирование */
  left: 0; /* Начинаем с левого края */
  bottom: 0; /* Позиционируем у нижнего края */
  width: 100%; /* Ширина равна ширине кнопки */
  height: 2px; /* Высота подчеркивания */
  background-color: #000000; /* Черный цвет подчеркивания */
  transform: scaleX(0); /* Начальное состояние (скрыто) */
  transform-origin: bottom right; /* Начало эффекта с правого края */
  transition: transform 0.3s ease; /* Плавный переход */
}
.select-zone:hover::after {
  transform: scaleX(1); /* Подчеркивание становится видимым */
  transform-origin: bottom left;
}
.prise {
  margin: 0.8em;
}

/* BRENDS */

.brends {
  display: flex;
  gap: 2.5em;
  margin-top: 7em;
  justify-content: center;
}
.brend-list {
  height: 10em;
  width: 12em;
}

.brend-list:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ITEM PICT */
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 5em;
  margin-bottom: 5em;
}

.item-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  max-width: 1200px;
  transition: filter 0.3s ease;
}
.picture:hover {
  filter: brightness(1.1);
}

.picture1 {
  grid-column: span 1;
  grid-row: span 2;
}

.picture img {
  width: 100%;
  height: auto;
}

.main-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

/* news block */

.news-block {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1em; /* Отступы между строками */
  grid-column-gap: 6em;
  margin-left: 9em;
  margin-right: 9em;
  margin-top: 3em;
}

.card-news {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  max-width: 800px; /* Ширина карточки, можно изменить по желанию */
  cursor: pointer;
  padding: 1em;
}
.card-news:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-news-image {
  width: 270px; /* Ширина изображения, можно изменить */
  height: 180px;
}

.card-news-content {
  padding-left: 12px;
  flex: 1;
}

.main-news-text {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

.additional-news-text {
  margin: 8px 0;
}

.date-news {
  color: #888;
}

.info-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Сдвигает кнопку влево на половину её ширины */
  bottom: 20px;
  background-color: #ffffff;
  color: black;
  font-size: 12px;
  border: 1px solid #000000;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 0.5em;
}
.info-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.company-text {
  max-width: 1100px;
  margin: 2em auto;
  padding: 20px;
  text-align: left;
}
.feedback {
  background-color: #d1d1d1;
  margin: auto;
  padding: 20px;
  text-align: center;
  max-width: 700px;
  height: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback p {
  width: 500px;
  margin: auto;
}

/* CARUSEL */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden; /* Скрываем части блоков, выходящие за экран */
}

.feedback {
  background-color: #d1d1d1;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 700px;
  height: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0.5;
  cursor: pointer;
}

.active-block {
  opacity: 1;
  z-index: 2;
  transform: translateX(0) scale(1.05);
}

.prev-block {
  transform: translateX(-110%); /* Смещаем левый блок за пределы экрана */
}

.next-block {
  transform: translateX(110%); /* Смещаем правый блок за пределы экрана */
}

.header-feedback {
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: 400;
  width: 450px;
  margin: 1em auto;
}

.main-feedback {
  font-size: 1em;
  color: #333;
}

/* FOOOOTER */

.footer {
  background-color: #000000;
  color: white;
  height: 450px;
  margin-top: 7em;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 35px 100px;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-weight: 750;
  font-size: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}

.footer-column ul li {
  margin-bottom: 30px;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
}

.footer-column ul li a:hover {
  color: #e1ce8c;
}
.footer p {
  margin: 1.2em 4em;
  font-weight: 100;
}
