@media screen and (max-width: 480px) {
  .main-button {
    background-color: white;
    border: solid;
    color: #000000;
  }
  .main-button:hover {
    background-color: #000000;
    color: white;
  }
  .menu-toggle {
    display: none;
    cursor: pointer;
  }

  .menu-icon {
    width: 30px;
    height: 30px;
    stroke: black;
  }
  .select {
    flex-direction: column;
    font-size: 1.2em;
  }

  .card-list {
    grid-template-columns: repeat(2, 1fr); /* Показываем по 2 карточки в ряд */
    margin: 2em;
    grid-row-gap: 3em; /* Уменьшаем отступы между строками */
  }

  .card {
    width: 100%;
    height: auto; /* Высота будет зависеть от содержимого */
    margin-bottom: 2em;
  }

  .items {
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .item-block {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    max-width: 100%;
  }

  .news-list {
    grid-template-columns: 1fr;
    margin-left: 2em;
    margin-right: 2em;
  }

  .footer {
    height: auto;
    padding: 2em 1em;
  }

  .carousel-container {
    height: auto;
    padding-bottom: 2em;
  }
}
