@media (min-width: 320px) and (max-width: 480px) {
  .promotions {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
  }

  .header-panel {
    position: fixed;
    color: black;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    background-color: white;
    gap: 10em;
  }

  .header-panel .logo {
    margin: 0 auto;
  }
  .menu-toggle {
    display: block;
  }

  .logo {
    width: 3em;
    padding: 0.3em;
  }

  .menu_list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    color: white;
    width: 100%;
    padding: 1em;
  }

  .svg-list {
    margin: 0;
    justify-content: center;
  }

  .login-container {
    width: 90%;
    left: 5%;
    top: 100px;
    position: absolute; /* Добавить позиционирование для правильного размещения */
    background-color: white; /* Фон для контрастности */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для выделения */
  }
  .hero {
    margin-top: 3em;
  }
  .hero picture {
    height: auto;
    width: 100%;
    display: block;
  }

  .select {
    flex-direction: row;
    font-size: 1em;
  }

  .card-list {
    grid-template-columns: repeat(2, 1fr); /* Показываем по 2 карточки в ряд */
    margin: 2em 1em; /* Удалить отступы по бокам */
    grid-row-gap: 3em; /* Уменьшаем отступы между строками */
  }

  .card {
    width: 100%;
    height: auto; /* Высота будет зависеть от содержимого */
    margin-bottom: 2em;
  }

  .items {
    flex-direction: column;
    margin: 2em 0; /* Установить отступы сверху и снизу */
  }

  .item-block {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    max-width: 100%;
  }
  .brends {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: auto;
    justify-content: center;
  }
  .brend-list {
    height: 8em;
    width: 11em;
  }
  .hidden {
    display: none;
  }
  .card-news {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    cursor: pointer;
    padding: 1em;
  }
  .news-list {
    grid-template-columns: 1fr;
    margin: 0 2em; /* Установить отступы слева и справа */
  }

  .footer {
    padding: 2em 1em;
  }

  .carousel-container {
    padding-bottom: 2em;
  }
}
