body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
a {
  color: #000000;
}
.delete {
  padding: 10em;
  margin-top: 20em;
}
/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.promotions {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.3em 1em;
}
.prom-block {
  flex: 1; /* Занимает доступное пространство */
  text-align: center;
  font-size: small;
}

.header-panel {
  position: fixed;
  color: var(--base-text-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.logo {
  width: 4em;
  margin-top: 0.3em;
  margin-left: 1em;
}

.menu_list {
  display: flex;
  align-items: center;
  padding-right: 10em;
  gap: 2em;
}
.menu-text {
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
  padding: 1.5em 0 2em;
}
.menu-text:hover {
  cursor: pointer;
  color: var(--primary-color);
  transform: scale(1.05); /* Увеличение текста при наведении */
}
.svg-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.svg-icon {
  margin: 0.5em;
  cursor: pointer;
  transition: stroke 0.3s ease, transform 0.3s ease;
}
.svg-list :hover path {
  stroke-width: 5;
  stroke: var(--primary-color);
  transform: scale(1.1);
}
.search-container {
  display: none;
  position: absolute;
  right: 13em;
  top: 0.8em;
  background: transparent;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: var(--border-radius);
}
.search-input {
  border: none;
  outline: none;
  padding: 0.5em;
  width: 200px;
  box-sizing: border-box;
}
.search-input::placeholder {
  color: var(--base-text-color);
}
/* CART PANEL (BASKET) */
.cart-panel {
  position: fixed;
  top: 0;
  right: -100%;
  width: 32%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: right 0.9s cubic-bezier(0.25, 1, 0.5, 1); /* Плавная анимация */
  overflow-y: auto; /* Скролл внутри корзины, если контент длинный */
}

.cart-panel.active {
  right: 0; /* Панель выезжает на экран */
}

body.cart-open {
  overflow: hidden; /* Отключение скролла страницы */
}
.header-basket {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1.5em;
}
.header-basket span {
  font-weight: 600;
}
.cart-product {
  display: flex;
  padding: 1em 1em 0;
  margin-bottom: 1em;
}
.cart-product img {
  width: 250px;
}
.product-cart-name {
  font-size: 13px;
  font-weight: 500;
}
.cancel-cart-product {
  border-bottom: solid #757575;
  border-width: 1px;
  color: var(--secondary-color);
  font-size: 12px;
}
.quantity-cart-product {
  font-size: 12px;
  padding-top: 0.5em;
}
.price-cart-product {
  padding: 1em 2em;
}
.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1em 0em 0 2em;
  width: 25em;
}

.main-extra-section {
  display: flex;
  justify-content: space-between;
}
.extra-container {
  display: flex;
  margin: 1em 2em 0;
  border: solid grey;
  border-radius: var(--border-radius);
  border-width: 0.1px;
}
.extra-img {
  width: 200px;
  padding: 0.5em;
}

.extra-header-text {
  font-size: 10px;
  font-weight: 600;
}
.extra-product-info {
  padding: 1em;
}
.add-button {
  background-color: black;
  border-radius: var(--border-radius);
  color: white;
  padding: 1em;
  margin: 0.5em;
  font-size: 13px;
}
.extra-colors-svg svg {
  width: 22px;
}
.extra-colors-svg {
  padding-top: 0.5em;
}
.red-price {
  font-size: 13px;
  color: red;
  font-weight: 600;
}
.old-price {
  font-size: 13px;
  text-decoration: line-through;
}
.formalize {
  width: 25.5em;
  background-color: black;
  color: white;
  padding: 1em 1em;
  margin: 1.5em 0em 0 2em;
}
.formalize:hover {
  background-color: var(--secondary-color);
}
/* PREVIEW-BLOCK */
.item-preview-menu {
  width: 100%;
  background-color: white;
  padding-top: 5.5em;
  justify-content: space-evenly;
  display: none;
}
.preview-list {
  padding-bottom: 2em;
}
.preview-list a {
  padding: 0.2em;
  display: block;
}
.preview-list a:hover {
  color: var(--primary-color);
}
/* REGISTRATION-LOGIN =====================*/
.menu-toggle {
  display: none;
}
.login-container {
  display: none; /* Скрываем окно по умолчанию */
  position: fixed;
  height: 620px;
  width: 855px;
  background-color: #ffffff;
  border: solid rgb(180, 180, 180);

  /* Центрирование */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container.visible {
  display: flex; /* Показать окно с flex-раскладкой, когда класс "visible" добавлен */
}

.image-section {
  flex: 1;
  position: relative;
  height: 100%;
}

.image-section img {
  width: 100%;
  height: 100%; /* Заставляем изображение занимать всю высоту контейнера */
  object-fit: cover; /* Обеспечиваем правильное масштабирование изображения без искажений */
}
.image-overlay {
  height: 100%;
}

.text-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.text-front h1 {
  font-size: 2em;
  margin: 0;
}

.text-front p {
  font-size: 1.2em;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  align-items: center;
}

.form-section h3 {
  font-weight: 600;
  padding: 0.5em;
}

.recovery {
  font-size: small;
  text-align: center;
  padding: 0em 0 3em 0;
}
.recovery:hover {
  color: var(--primary-color);
}
.form-section p {
  font-size: small;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 1em;
  padding: 0.5em;
  border: solid rgb(188, 188, 188);
  width: 17em;
  border-radius: var(--border-radius);
}

.main-button {
  padding: 0.4em;
  background-color: black;
  color: white;
  cursor: pointer;
  border: solid;
  width: 17em;
  border-radius: var(--border-radius);
}
.registration {
  font-size: small;
  padding: 0.5em;
}
.registration span:hover {
  color: var(--primary-color);
}
/* TOGGLE MENU -------------*/
.toggle-section {
  display: none;
}
/* MAIN CONTENT ============================ */
.main-section-container {
  display: flex;
  margin-top: 12em;
  max-width: none;
  width: 100%;
}
/* RIGHT SECTION ========================= */

.right-section {
  position: sticky;
  padding-right: 2em;
  width: 35%;
  top: 120px;
  height: 100%;
}
.cart-product {
  display: flex;
  padding: 1em 1em 0;
  margin-bottom: 1em;
}
.cart-product img {
  width: 250px;
}
.product-cart-name {
  font-size: 13px;
  font-weight: 500;
}
.cancel-cart-product {
  border-bottom: solid #757575;
  border-width: 1px;
  color: var(--secondary-color);
  font-size: 12px;
}
.quantity-cart-product {
  font-size: 12px;
  padding-top: 0.5em;
}
.price-cart-product {
  padding: 1em 2em;
}
.separator-right {
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 0.5px solid var(--secondary-color);
  width: 100%;
  margin: 2em 0 2em 0;
}
.open-input {
  background-color: var(--background-color);
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.promo-code-input {
  display: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f4f3f3;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  margin-top: 1em;
}

.promo-code-input::placeholder {
  color: #888;
}
.order-header {
  padding: 1em;
}
.order-button {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-top: 1em;
  background-color: black;
  color: white;
  border-radius: var(--border-radius);
}
.amount-container {
  padding: 2em;
  background-color: var(--background-color);
  width: 100%;
  text-align: center;
}
.order-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}
.order-info.sum {
  font-size: 20px;
  font-weight: 600;
}
.amount-order-button {
  background-color: black;
  color: white;
  padding: 0.8em;
  border-radius: var(--border-radius);
  font-size: medium;
  width: 100%;
}

/* LEFT SECTION =========================== */

.left-section {
  flex: 1;
  padding: 0 2em;
  width: 65%;
}
.product-select {
  border: solid var(--secondary-color);
  border-width: 0.5px;
  border-radius: var(--border-radius);
  padding: 1em;
}
.header-text {
  font-weight: 600;
  padding: 1em;
}
.main-info-product {
  display: flex;
  margin-bottom: 2em;
}
.main-picture {
  width: 150px;
}
.main-info-container h3 {
  width: 20em;
  padding: 1em 0 1em 0;
}
.main-info-container p {
  color: #888;
  font-size: small;
}
.count {
  width: 20em;
  padding: 1em 0 1em 5em;
}
.price-product {
  width: 10em;
  padding: 1em 0 1em 0em;

  text-align: center;
  align-items: center;
}
.price-product span {
  font-weight: 600;
}
.separator {
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 1px solid rgb(204, 204, 204);
  margin: 1em 0em 3em 2em;
  width: 50em;
}

.left-section p span {
  color: var(--primary-color);
}
.social-panel {
  display: flex;
  border: solid var(--secondary-color);
  border-radius: var(--border-radius);
  border-width: 0.5px;
  padding: 1em;
  justify-content: center;
  gap: 3em;
}
.social-button {
  display: inline-flex;
  background-color: #000000;
  color: white;
  border-radius: var(--border-radius);
  font-size: 12px;
  padding: 0.8em;
  align-items: center;
}
.social-button:hover {
  background-color: var(--secondary-color);
}

.svg-logo-button {
  padding-right: 2px;
  align-items: center;
}
/* FORM SECTION ========================== */

/* Общие стили для формы */
.form-section-info {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  position: relative;
  border-radius: var(--border-radius);
}
.form-container {
  padding: 1em;
}

/* Стили для заголовка секции */
.section-header {
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
  transform: translate(-13px, -88%);
  display: inline-flex;
  background-color: white;
}

/* Стили для номера в кружке */
.section-number {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
}

.section-header h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

/* Стили для групп элементов формы */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  outline: none;
}

.form-group input:disabled {
  color: green;
  background-color: #f0f0f0;
  border-bottom: 1px solid green;
}

/* FOOOOTER */

.footer {
  position: relative;
  background-color: #000000;
  color: white;
  height: 450px;
  margin-top: 4em;
}
.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2em 0em 1em 4em;
  gap: 9em;
}

.footer-column {
  padding: 0 10px;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-weight: 750;
  font-size: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}

.footer-column ul li {
  margin-bottom: 30px;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
}

.footer-column ul li a:hover {
  color: var(--primary-color);
}
.footer p {
  margin: 1.2em 4em;
  font-weight: 100;
}
.footer-info {
  padding: 2em;
  text-align: center;
}
.svg-footer-list {
  display: flex;
}
.svg-footer-list li a svg {
  width: 40px;
  padding: 0.2em;
}
.img-logo-footer {
  position: absolute;
  top: 50%;
  right: 6%;
}
