/* TEXT STYLE */
.header-text-strong {
  font-size: 1.2em;
  font-weight: 600;
}

.grey-txt {
  color: grey;
  font-size: 1em;
  font-weight: 200;
}

/* BUTTONS */
.stoke-white-btn {
  border: solid;
  border-radius: 0.2em;
  padding: 0.5em;
}
.stoke-white-btn:hover {
  background-color: black;
  color: white;
  padding: 0.5em;
}
.black-stroke-btn {
  background-color: black;
  color: white;
  padding: 0.5em;
  border-radius: 0.2em;
}

.black-stroke-btn:hover {
  border: solid;
  background-color: white;
  color: black;
  padding: 0.5em;
  border-radius: 0.2em;
}
