body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
a {
  color: #000000;
}

/* HEADER------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.promotions {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.3em 1em;
}
.prom-block {
  flex: 1; /* Занимает доступное пространство */
  text-align: center;
  font-size: small;
}

.header-panel {
  position: fixed;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  transition: background-color 0.5s ease;
}
.header-panel.scrolled {
  background-color: rgb(255, 255, 255); /* Полностью непрозрачный фон */
}
.logo {
  width: 4em;
  margin-top: 0.3em;
  margin-left: 1em;
}

.menu_list {
  display: flex;
  align-items: center;
  padding-right: 10em;
  gap: 1em;
}
.menu-text {
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
  padding: 1.5em 0 2em;
}
.menu-text:hover {
  cursor: pointer;
  color: #e1ce8c; /* Цвет текста при наведении */
  transform: scale(1.05); /* Увеличение текста при наведении */
}
.svg-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.svg-icon {
  margin: 0.5em;
  cursor: pointer;
  transition: stroke 0.3s ease, transform 0.3s ease;
}
.svg-list :hover path {
  stroke-width: 5;
  stroke: #e1ce8c;
  transform: scale(1.1);
}
.search-container {
  display: none;
  position: absolute;
  right: 13em;
  top: 0.8em;
  background: transparent;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 4px;
}
.search-input {
  border: none;
  outline: none;
  padding: 0.5em;
  width: 200px;
  box-sizing: border-box;
}
.search-input::placeholder {
  color: black;
}
.item-preview-menu {
  width: 100%;
  background-color: white;
  padding-top: 5.5em;
  justify-content: space-evenly;
  display: none;
}
.preview-list {
  padding-bottom: 2em;
}
.preview-list a {
  padding: 0.2em;
  display: block;
}
.preview-list a:hover {
  color: #e1ce8c;
}

/* REGISTRATION-LOGIN */
.menu-toggle {
  display: none;
}
.login-container {
  display: none; /* Скрываем окно по умолчанию */
  position: fixed;
  height: 620px;
  width: 855px;
  background-color: #ffffff;
  border: solid rgb(180, 180, 180);

  /* Центрирование */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container.visible {
  display: flex; /* Показать окно с flex-раскладкой, когда класс "visible" добавлен */
}

.image-section {
  flex: 1;
  position: relative;
  height: 100%;
}

.image-section img {
  width: 100%;
  height: 100%; /* Заставляем изображение занимать всю высоту контейнера */
  object-fit: cover; /* Обеспечиваем правильное масштабирование изображения без искажений */
}

.text-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.text-front h1 {
  font-size: 2em;
  margin: 0;
}

.text-front p {
  font-size: 1.2em;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 0.5em;
}

.login-form input {
  margin-bottom: 1em;
  padding: 0.5em;
  border: solid rgb(188, 188, 188);
}

.login-form button {
  padding: 0.4em;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border: solid;
  width: 10em;
  margin: auto;
}
/* TOGGLE MENU -------------*/
.toggle-section {
  display: none;
}

/* MAIN ZONE ============================= */
.account-page-container {
  display: flex;
  height: auto;
}
.primary-section {
  flex: 0 0 67%; /* Левая часть займет 70% */
  background-color: white;
}
.secondary-section {
  flex: 0 0 33%; /* Правая часть займет 30% */
  margin-top: 8.7em;
}
/* PRIMARY SECTION ======================== */
.profile-data-container {
  display: flex;
}
.profile-data-container svg {
  margin: 0 0.5em 0 0;
}
.name-imail {
  font-size: 16px;
}
.back-button {
  position: absolute; /* Абсолютное позиционирование кнопки */
  bottom: 10px; /* Отступ от нижней границы контейнера */
  left: 10px; /* Отступ от левой границы контейнера */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.profile-data {
  display: flex;
  justify-content: space-between;
  padding: 5.7em 4.5em 0 2.5em;
  font-size: 20px;
}

.separator {
  border: none;
  border-top: 1px solid var(--separator-color);
  margin: 1em 1em 1em 1em;
}
.separator-full {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1em 0em 1em 0;
  width: 100%;
}
.separator-small {
  border: none;
  border-top: 1px solid var(--separator-color);
  margin: 1em 7em 1em 7em;
}
.personal-data {
  padding: 10px;
}

.personal-data-header {
  display: inline-flex;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 55em;
  margin: 1em 2em;
  font-size: 16px;
}

.personal-data-header h3 {
  font-weight: bold;
}

.personal-data-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.personal-data-content.open {
  max-height: 100px; /* Измените на нужный вам размер */
}

.personal-data-content {
  padding-left: 3em;
}

.personal-data-container {
  padding-top: 2em;
}

.arrow {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(90deg);
}
/* SECONDARY SECTION =================== */
/* CART PANEL ============================ */

.cart-panel {
  height: 100%;
  border-left: solid var(--separator-color);
  border-top: solid var(--separator-color);
  background-color: white;
}
.id-product {
  display: flex;
  justify-content: space-between;
  padding: 1em 2.5em;
}
.id-product span {
  color: var(--primary-color);
}
.btn-print-check {
  text-align: end;
}
.check-button {
  background-color: black;
  border-radius: var(--border-radius);
  color: white;
  padding: 1em 2em;
  margin: 0.5em;
  font-size: 13px;
}

.header-basket {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1.5em;
}
.header-basket span {
  font-weight: 600;
}
.cart-product {
  display: flex;
  padding: 1em 1em 0;
  margin-bottom: 1em;
}
.cart-product img {
  width: 250px;
}
.product-cart-name {
  font-size: 13px;
  font-weight: 500;
}

.quantity-cart-product {
  font-size: 12px;
  padding-top: 0.5em;
}
.price-cart-product {
  padding: 1em 2em;
}
.characteristic-item {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 3.5em;
  font-size: 15px;
}
/* FOOOOTER */

.footer {
  position: relative;
  background-color: #000000;
  color: white;
  height: 450px;
  margin-top: 4em;
}
.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2em 0em 1em 4em;
  gap: 9em;
}

.footer-column {
  padding: 0 10px;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-weight: 750;
  font-size: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}

.footer-column ul li {
  margin-bottom: 30px;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
}

.footer-column ul li a:hover {
  color: var(--primary-color);
}
.footer p {
  margin: 1.2em 4em;
  font-weight: 100;
}
.footer-info {
  padding: 2em;
  text-align: center;
}
.svg-footer-list {
  display: flex;
}
.svg-footer-list li a svg {
  width: 40px;
  padding: 0.2em;
}
.img-logo-footer {
  position: absolute;
  top: 50%;
  right: 6%;
}
