:root {
  --primary-color: #e1ce8c;
  --secondary-color: grey;
  --base-text-color: black;
  --font-size-base: 16px;
  --spacing-large: 1.5;
  --border-radius-buttom: 3px;
  --border-radius: 6px;
  --separator-color: #ccc;
  --background-color: rgb(244, 244, 244);
}
