.header {
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для Internet Explorer/Edge */
  user-select: none; /* Для современных браузеров */
}
