body {
  font-family: "Montserrat", sans-serif;
}
.promotions {
  background-color: black;
  height: 25px;
  color: white;
  text-align: center;
}
.header-panel {
  background-color: white;
  color: black;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 4em;
  width: 4em;
  margin-top: 0.3em;
  margin-left: 1em;
}

.menu_list {
  display: flex;
  align-items: center;
  margin-right: 10em;
}
.menu-text {
  margin: 1em;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}
.menu-text:hover {
  cursor: pointer;
  color: #e1ce8c; /* Цвет текста при наведении */
  transform: scale(1.05); /* Увеличение текста при наведении */
}
.svg-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em;
}
.svg-icon {
  margin: 0.5em;
  cursor: pointer;
  transition: stroke 0.3s ease, transform 0.3s ease;
}
.svg-list :hover path {
  stroke-width: 5;
  stroke: #e1ce8c;
  transform: scale(1.1);
}

/* CARDS MID */

.select {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
  font-weight: 600;
}
.cards-block {
  margin-top: 2em;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 6em; /* Отступы между строками */
  grid-column-gap: 2em; /* Отступы между колонками */
  margin: 5em;
  justify-items: center;
  align-items: center;
}

.card {
  width: 14em;
  height: 23em;
  text-align: center;
  border-radius: 8px;
  background-color: #fff; /* Добавить фоновый цвет */
  transition: filter 0.3s ease; /* Плавный переход */
}
.picture {
  cursor: pointer;
}
.card:hover {
  filter: brightness(1.5);
}
.text-card {
  font-weight: 700;
  font-size: small;
}
.buy-button {
  background-color: #ffffff;
  color: black;
  font-size: 12px;
  border: 1px solid #000000;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 0.5em;
}
.buy-button:hover {
  background-color: #000000;
  color: #ffffff;
}
.select-zone {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  position: relative; /* Для позиционирования псевдоэлемента */
  overflow: hidden;
}
.select-zone::after {
  content: "";
  position: absolute; /* Абсолютное позиционирование */
  left: 0; /* Начинаем с левого края */
  bottom: 0; /* Позиционируем у нижнего края */
  width: 100%; /* Ширина равна ширине кнопки */
  height: 2px; /* Высота подчеркивания */
  background-color: #000000; /* Черный цвет подчеркивания */
  transform: scaleX(0); /* Начальное состояние (скрыто) */
  transform-origin: bottom right; /* Начало эффекта с правого края */
  transition: transform 0.3s ease; /* Плавный переход */
}
.select-zone:hover::after {
  transform: scaleX(1); /* Подчеркивание становится видимым */
  transform-origin: bottom left;
}
.prise {
  margin: 0.8em;
}

.brends {
  display: flex;
  gap: 2.5em;
  margin-top: 7em;
  justify-content: center;
}
.brend-list {
  height: 10em;
  width: 12em;
}

.brend-list:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ITEM PICT */
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 5em;
  margin-bottom: 5em;
}

.item-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  max-width: 1200px;
  /* Добавить фоновый цвет */
  transition: filter 0.3s ease;
}
.picture:hover {
  filter: brightness(1.1);
}

.picture1 {
  grid-column: span 1;
  grid-row: span 2;
}

.picture img {
  width: 100%;
  height: auto;
}

.main-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

/* news block */

.news-block {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4em; /* Отступы между строками */
  grid-column-gap: 6em;
  margin-left: 9em;
  margin-right: 9em;
  margin-top: 3em;
}

.card-news {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  max-width: 800px; /* Ширина карточки, можно изменить по желанию */
  cursor: pointer;
  padding: 1em;
}
.card-news:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-news-image {
  width: 270px; /* Ширина изображения, можно изменить */
  height: 180px;
}

.card-news-content {
  padding-left: 12px;
  flex: 1;
}

.main-news-text {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

.additional-news-text {
  margin: 8px 0;
}

.date-news {
  color: #888;
}

.info-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Сдвигает кнопку влево на половину её ширины */
  bottom: 20px;
  background-color: #ffffff;
  color: black;
  font-size: 12px;
  border: 1px solid #000000;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 0.5em;
}
.info-button:hover {
  background-color: #000000;
  color: #ffffff;
}
